# https://www.aleksandrhovhannisyan.com/blog/crlf-vs-lf-normalizing-line-endings-in-git/#a-simple-gitattributes-config
# The following .gitattributes config normalizes line endings to LF
# for all text files checked into your repo while leaving local line
# endings untouched in the working tree
* text=auto
